<div class="footer">
   <br>
   <br>
   <br>
   <div class="footer_container">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quaerat tempora odit iusto
      deserunt placeat harum. Quos provident possimus assumenda, exercitationem voluptate veniam ratione
      aliquam iusto rem consectetur vero quis?
      Quo veritatis recusandae possimus aspernatur nulla. A sunt perferendis, possimus dolorem ex veniam
      facilis ut repellendus nostrum, dignissimos ab, nam accusantium! Neque expedita ipsam similique
      deleniti, voluptas ducimus debitis odit?
   </div>
</div>