<% let text=` <p>
   quaerat
   sequi
   minima aut modi laudantium velit repellat explicabo nisi ad, quod eligendi culpa. Veniam
   alias
   perspiciatis reiciendis nihil?
   dignissimos atque? Explicabo.
   </p>
   <p>
      quaeratsequi dignissimos atque? Explicabo.a aut modi laudantium velit repellat explicabo nisi ad, quod eligendi
      culpa. Veniam
      alias
      perspiciatis reiciendis nih
   </p>
   `
   %>


   <!DOCTYPE html>
   <html lang="en">

   <%- include('../inc/head') %>

      <body>
         <div class="wrapper">
            <%- include('../inc/header') %>
               <div class="main">
                  <div class="main_container_polotno">
                     <div class="main_container_container">
                        <div class="title_main">

                        </div>
                        <hr>
                        <div class="txt_main">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, quos at
                           quaerat
                        </div>
                        <div class="img_main">
                           <img src="/img/main/01.svg" alt="kros" class="img_main">
                        </div>
                        <hr>
                        <div class="about_product_main">Lorem ipsum dolor sit amet consectetur adipisicing elit.

                           delectus ea fugiat!</div>
                        <hr>
                        <div class="reviews_main">
                           Veniam ullam a dignissimos labore ratione.
                        </div>
                     </div>
                  </div>
               </div>
               <%- include('../inc/footer') %>
         </div>

      </body>

   </html>